body{
    background-color: black;
    margin: 0px;
}
#fixed{
    z-index: 3;
    min-width: 100%;
    position: fixed;
    top: 0px;
}
#container{
    background-color: #000000;
    padding: 0px 20px 0px 20px;
}
#home{
    text-decoration: none;
}
#title{
    font-family: 'Impact', 'Charcoal', 'sans-serif';
    font-size: 30px;
    background-color: #B9090B;
    padding: 15px 10px 15px 10px;
    margin-left: 10px;
    color: #fff;
    letter-spacing: 3px;
    transform: scaleY(1.3);
    text-shadow: 3px 4px #000;
    width: fit-content;
}
#subtitle{
    color: rgb(172, 172, 172);
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    font-size: 18px;
}
#hero-container{
    position: absolute;
    height: 900px;
    min-width: 100%;
    overflow: hidden;
}
#hero{
    position: absolute;
    left: 0px;
    width: 100%;
    top:0px;
    filter: blur(20px) brightness(30%);
    -webkit-filter: blur(20px) brightness(30%);
}
#movie{
    position: relative;
    display: flex;
    padding: 0px 60px 0px 60px;
    padding-top: 120px;
}
#primary-movie-poster{
    border-radius: 7px;
    width: 200px;
}
#primary-movie-vertical{
    padding: 30px 0px 0px 100px ;
    width: 100%;
}
#primary-movie-title{
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: rgb(230, 230, 230);
    font-size: 40px;
}
#primary-movie-row-1{
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: rgb(173, 173, 173);
    font-size: 13px;
}
#primary-movie-plot{
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: rgb(173, 173, 173);
    width: 50%;
    font-size: 14px;
    padding: 20px 0px 20px 0px;
}
#primary-movie-button-container{
    padding: 30px 0px 0px 0px;
}
#primary-movie-button{
    padding: 10px 20px 10px 20px;
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: rgb(46, 46, 46);
    background-color: #fff;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    border: none;
}
#similiar-title{
    position: relative;
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: rgb(173, 173, 173);
    font-size: 18px;
    padding: 20px 0px 10px 60px;
}
#similiar-bar{
    position: relative;
    display: flex;
    padding-left: 60px;
    font-family: 'Verdana', 'Geneva', 'sans-serif';
    color: rgb(173, 173, 173);
    font-size: 13px;
    overflow-y: auto;
    max-width: 100vw;
}
#similiar-bar::-webkit-scrollbar {
    width: 0px;
}
.similiar-movie-poster{
    height: 250px;
    padding: 10px 5px 10px 5px;
}